@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .input-group {
    flex-direction: row;
    gap: 0.5rem;
  }
}

.input-field {
  flex-grow: 1;
  border: 1px solid #E5E7EB;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .input-field {
    margin-bottom: 0;
  }
}
